.insert-styles-center,
.insert-styles-left,
.insert-styles-right {
  margin-bottom: 1.66667em;
  text-align: center;
}

.insert-styles-center img,
.insert-styles-left img,
.insert-styles-right img {
  max-width: 100%;
  border: 4px solid white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.insert-styles-center .caption,
.insert-styles-left .caption,
.insert-styles-right .caption {
  color: gray;
  text-align: center;
  margin-top: 0.33333em;
  font-style: italic;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2.14286em;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 60.75em) {
  .insert-styles-left {
    width: 50%;
    float: left;
    padding: 0 0.85em;
    margin-bottom: 0.83333em;
    padding-left: 0;
    padding-right: 1.7em;
  }
}

@media (min-width: 60.75em) {
  .insert-styles-right {
    width: 50%;
    float: right;
    padding: 0 0.85em;
    margin-bottom: 0.83333em;
    padding-right: 0;
    padding-left: 1.7em;
  }
}

.insert-styles-center {
  margin: 0 auto 1.66667em;
}
